name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

env:
  NODE_DISABLE_VERSIONS: '25' # disabled due to this bug https://github.com/forcedotcom/cli/issues/3434

jobs:
  unit-tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTest.yml@main
  nuts:
    needs: unit-tests
    uses: salesforcecli/github-workflows/.github/workflows/nut.yml@main
    secrets: inherit
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    with:
      os: ${{ matrix.os }}
